
/*============default=css===============*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container-full{
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container{
  width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}
.container::before,
.container::after,
.container-full::before,
.container-full::after{
  content: "";
  display: table;
  clear: both;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.col-50{
  width: 50%;
  float: left;
  padding: 0 15px;
}
.col-60{
  width: 60%;
  float: left;
  padding: 0 15px;
}
.col-40{
  width: 40%;
  float: left;
  padding: 0 15px;
}
.col-33{
  width: 33%;
  float: left;
  padding: 0 15px;
}
.col-25{
  width: 25%;
  float: left;
  padding: 0 15px;
}
.col-30{
  width: 30%;
  float: left;
  padding: 0 15px;
}
.col-70{
  width: 70%;
  float: left;
  padding: 0 15px;
}
col-100{
  width: 100%;
  float: left;
}
.section-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}
img{
  width: 100%;
  height: auto;
  display: inline-block;
}

/*===========================*/


body{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 50px;
}
.orange-color{
  color: orange;
}
.portfolio h2{
  padding-top: 25px;
}
.portfolio h3{
  padding-top: 45px;
}
.portfolio p{
  padding-top: 20px;
  line-height: 20px;
}
.images-style img{
  width: 250px;
  height: 350px;
  border-radius: 50%;
  margin-left: 50px;
}
.btn a{
  color: red;
}
.btn{
  margin-top: 10px;
  background-color: purple;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
}
.home{
  background-color: #ffff;
}




.web-dream{
  margin-left: px;
  

}
.web-dream h3{
  padding-top: 45px;
}
.web-dream p{
  padding-top: 20px;
  line-height: 20px;
}
.pro-image img{
  width: 250px;
  height: 350px;
  border-radius: 50%;
  margin-left: 50px;
}
.btn-2 a{
  color: red;
}
.btn-2{
  margin-top: 10px;
  background-color: purple;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
}
.bg-png img{
  width: 100px;
  height: 100px;
  float: right;
}
/*
.web-dream ::before{
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: black;
  left: 414px;
  top: 298px;
  
}
*/