
/*============default=css===============*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container-full{
  width: 100%;
  margin: 0 auto;
}
.container{
  width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}
.container::before,
.container::after,
.container-full::before,
.container-full::after{
  content: "";
  display: table;
  clear: both;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.col-50{
  width: 50%;
  float: left;
  padding: 0 15px;
}
.col-60{
  width: 60%;
  float: left;
  padding: 0 15px;
}
.col-40{
  width: 40%;
  float: left;
  padding: 0 15px;
}
.col-33{
  width: 33%;
  float: left;
  padding: 0 15px;
}
.col-25{
  width: 25%;
  float: left;
  padding: 0 15px;
}
.col-30{
  width: 30%;
  float: left;
  padding: 0 15px;
}
.col-70{
  width: 70%;
  float: left;
  padding: 0 15px;
}
col-100{
  width: 100%;
  float: left;
}
.section-padding{
  padding-top: 80px;
  padding-bottom: 80px;
}
img{
  width: 100%;
  height: auto;
  display: inline-block;
}

/*===========================*/


body{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 50px;
}
.orange-color{
  color: orange;
}
.portfolio h2{
  padding-top: 45px;
}
.portfolio h3{
  padding-top: 85px;
}
.portfolio p{
  padding-top: 20px;
  line-height: 30px;
}
.images-style img{
  width: 300px;
  height: 350px;
  border-radius: 50%;
  margin-left: 50px;
  position: relative;
}
.images-style::before{
  content: "";
  position: absolute;
  height: 46px;
  width: 36px;
  background-color: orange;
  left: 650px;
  top: 90px;
  border-radius: 50%; 
}
.btn a{
  color: #ffff;
}
.btn{
  margin-top: 10px;
  background-image: linear-gradient(orange,tomato);
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 800;
}
.home{
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}




.web-dream{
  margin-left: 50px;
  position: relative;
}
.web-dream h3{
  padding-top: 65px;
}
.web-dream p{
  padding-top: 40px;
  line-height: 30px;
}
.pro-image img{
  width: 300px;
  height: 350px;
  border-radius: 50%;
}
.btn-2 a{
  color: #fff;
}
.btn-2{
  margin-top: 10px;
  background-image: linear-gradient(orange, tomato);
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 800;
}
.bg-png img{
  width: 150px;
  height: 200px;
  float: right;
}

.web-dream ::before{
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: red;
  left: 320px;
  top: -350px;
  border-radius: 50%;
  z-index: -1;  
}
